<Message @isActive={{true}}
         @title="Tomster's avatar" 
         @initial="T"
         @name="Tomster" 
         @localTime='4:56pm'
>
  <p>
    Hey Zoey, have you had a chance to look at the EmberConf brainstorming doc
    I sent you?
  </p>
</Message>